@import "../../../styles/config/variables";

.card {
    border-radius: $border-radius;
    background-color: $tertiary-color;
    padding: 1rem 1.625rem;
    display: flex;
    flex-direction: column;
    width: 27.5rem;
    font-weight: 500;

    &__header {
        align-items: center;
        margin-bottom: 0.625rem;
        line-height: 1.375rem;
    }

    &__info {
        display: flex;
        align-items: center;
        line-height: 1.375rem;
    }

    &__subheader {
        min-width: 150px;
        font-weight: 400;
    }
}

// fix padding on mobile devices

@media screen and (max-width: 768px) {
    .card {
        padding: 1rem 1rem;
    }
}